# .npmrc

# Set a custom registry if needed
# registry=https://registry.npmjs.org/

# Silence npm warnings
loglevel=warn

# Specify a proxy if your organization requires it
# proxy=http://your-proxy-url/
# https-proxy=http://your-proxy-url/

# Specify Node.js version
engine-strict=true
engines.node=14.17.0

# Ignore scripts during installation (use with caution)
# ignore-scripts=true

# Disable package-lock if needed
# package-lock=false

